################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/services/GeekShopping.ProductAPI/bin/Debug/net6.0
/src/services/GeekShopping.ProductAPI/obj
/src/web/GeekShopping.Web/bin/Debug/net6.0
/src/web/GeekShopping.Web/obj
/src/services/GeekShopping.IdentityServer/obj
/src/services/GeekShopping.IdentityServer/bin/Debug/net6.0
/docker/obj/Debug
/src/obj/Docker
/docker/obj/Docker
/src/services/GeekShopping.CartAPI/obj
/src/services/GeekShopping.CartAPI/bin/Debug/net6.0
/src/services/GeekShopping.CouponAPI/obj
/src/services/GeekShopping.CouponAPI/bin/Debug/net6.0
/src/integration/GeekShopping.MessageBus/obj
/src/services/GeekShopping.OrderAPI/obj
/src/services/GeekShopping.OrderAPI/bin/Debug/net6.0
/src/integration/GeekShopping.MessageBus/bin/Debug/net6.0
/src/GeekShopping.PaymentProcessor/obj
/src/services/GeekShopping.PaymentAPI/bin/Debug/net6.0
/src/services/GeekShopping.PaymentAPI/obj
/src/payments/GeekShopping.PaymentProcessor/obj/Debug/net6.0
/src/payments/GeekShopping.PaymentProcessor/obj
/src/payments/GeekShopping.PaymentProcessor/bin/Debug/net6.0
/src/services/GeekShopping.Email/obj
/src/services/GeekShopping.Email/bin/Debug/net6.0
/src/gateway/GeekShopping.Gateway/obj
/src/gateway/GeekShopping.Gateway/bin/Debug/net6.0
